@import url('https://fonts.googleapis.com/css?family=Bahianita|Do+Hyeon|Khand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/*
font-family: 'Khand', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Do Hyeon', sans-serif;
*/
@font-face {
    font-family: gotbook;
    src: url(https://cdn.discordapp.com/attachments/644631964774694942/738180868748607649/GOTHAM-MEDIUM.OTF);
}

@font-face {
    font-family: gotblack;
    src: url(https://cdn.discordapp.com/attachments/644631964774694942/738179761620123698/GOTHAM-BOLD.OTF);
}
  
body {
    background: transparent !important;
    margin-top:80px;
}

#bankingContainer {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 20px;
    min-height:800px;
    max-height:800px;
    display:none;
    border: 2px solid red;
}

#ATMContainer {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 20px;
    min-height:800px;
    max-height:800px;
    display:none;
    border: 2px solid red;
}

.statement:hover {
    background: rgba(150, 149, 149, 0.5) !important;
}

#v-pills-tabContent, #v-pills-tabContent-atm {
    overflow-y: scroll;
    min-height:100%;
}

#v-pills-tabContent::-webkit-scrollbar-track, #v-pills-tabContent-atm::-webkit-scrollbar-track {
    background-color:transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar-thumb, #v-pills-tabContent-atm::-webkit-scrollbar-thumb {
    background-color:transparent;
    border:none;
}

#v-pills-tabContent::-webkit-scrollbar, #v-pills-tabContent-atm::-webkit-scrollbar {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:transparent
}

.title {
    color: white;
    border-left: 2px solid red;
    font-family: 'Cookie', cursive;
}

.content {
    color: white;
    font-size: 20px;
}