<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>qb-banking</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" />
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="banking-container" v-show="isBankOpen">
                <div class="sidebar">
                    <div class="sidebar-header">
                        {{ playerName }}<br />
                        {{t('cash')}}: <span class="positive-balance">${{ formatCurrency(playerCash) }}</span>
                    </div>
                    <div class="sidebar-accounts">
                        <ul>
                            <li v-for="account in accounts" :key="account.name" :class="{ 'sidebar-selected': account.name === selectedAccountStatement }" @click="selectAccount(account)">{{ account.name }}: <span class="positive-balance">${{ formatCurrency(account.balance) }}</span></li>
                        </ul>
                    </div>
                    <button class="action-button" @click="closeApplication()">Logout</button>
                    <div class="sidebar-footer"> {{ t('accountNumber') }} {{ accountNumber }}</div>
                </div>
                <div class="main-content">
                    <div class="nav-bar">
                        <div class="nav-options">
                            <div class="nav-option" :class="{selected: activeView === 'home'}" @click="setActiveView('home')">{{t('home')}}</div>
                            <div class="nav-option" :class="{selected: activeView === 'money'}" @click="setActiveView('money')">{{t('money')}}</div>
                            <div class="nav-option" :class="{selected: activeView === 'transfer'}" @click="setActiveView('transfer')">{{ t('transfer') }}</div>
                            <div class="nav-option" :class="{selected: activeView === 'accountOptions'}" @click="setActiveView('accountOptions')">{{ t('accountOptions')}}</div>
                        </div>
                        <div class="notification-container" v-if="notification">
                            <div :class="['notification', notification.type]">{{ notification.message }}</div>
                        </div>
                    </div>
                    <div v-if="activeView === 'home'" class="transactions">
                        <li v-for="statement in statements[selectedAccountStatement]" :key="statement.id">
                            <span>{{ formatDate(statement.date) }}</span>
                            <span>{{ statement.user }}</span>
                            <span>{{ statement.reason }}</span>
                            <span :class="balanceClass(statement.type)">{{ statement.amount }}</span>
                        </li>
                    </div>
                    <div v-if="activeView === 'money'" class="money">
                        <div class="manage-money">
                            <div class="money-title">{{t('moneyManagement')}}</div>
                            <label for="fromAccount">{{t('account')}}</label>
                            <select id="fromAccount" v-model="selectedMoneyAccount">
                                <option v-for="account in accounts" :key="account.name" :value="account">{{ account.name }}</option>
                            </select>
                            <label for="amount">{{ t('amount') }}</label>
                            <input type="number" id="amount" v-model="selectedMoneyAmount" />
                            <label for="money-reason">{{t('reason')}}</label>
                            <input type="text" id="money-reason" v-model="moneyReason" />
                            <div class="card-buttons">
                                <button class="action-button" @click="withdrawMoney">{{t('withdraw')}}</button>
                                <button class="action-button" @click="depositMoney">{{ t('deposit') }}</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="activeView === 'transfer'" class="transfer">
                        <div class="transfer-header">
                            <div class="nav-option" :class="{selected: transferType === 'internal'}" @click="setTransferType('internal')">{{t('internal')}}</div>
                            <span class="money-title">{{t('transfer')}}</span>
                            <div class="nav-option" :class="{selected: transferType === 'external'}" @click="setTransferType('external')">{{t('external')}}</div>
                        </div>
                        <div v-if="transferType === 'internal'" class="transfer-options">
                            <label for="internalFrom">{{ t('account') }}</label>
                            <select id="internalFrom" v-model="internalFromAccount">
                                <option v-for="account in accounts" :key="account.name" :value="account">{{ account.name }}</option>
                            </select>
                            <label for="internalTo">{{ t('account') }}</label>
                            <select id="internalTo" v-model="internalToAccount">
                                <option v-for="account in accounts" :key="account.name" :value="account">{{ account.name }}</option>
                            </select>
                            <label for="internalAmount">{{ t('amount') }}</label>
                            <input type="number" id="internalAmount" v-model="internalTransferAmount" />
                            <label for="transfer-reason">{{ t('reason') }}</label>
                            <input type="text" id="transfer-reason" v-model="transferReason" />
                            <button class="action-button" @click="internalTransfer"> {{ t('transfer') }} </button>
                        </div>
                        <div v-if="transferType === 'external'" class="transfer-options">
                            <label for="externalAccountNumber">{{ t('accountNumber') }}</label>
                            <input type="text" id="externalAccountNumber" v-model="externalAccountNumber" />
                            <label for="externalFrom">{{ t('account') }}</label>
                            <select id="externalFrom" v-model="externalFromAccount">
                                <option v-for="account in accounts" :key="account.name" :value="account">{{ account.name }}</option>
                            </select>
                            <label for="externalAmount">{{ t('amount') }}</label>
                            <input type="number" id="externalAmount" v-model="externalTransferAmount" />
                            <label for="transfer-reason">{{ t('reason') }}</label>
                            <input type="text" id="transfer-reason" v-model="transferReason" />
                            <button class="action-button" @click="externalTransfer"> {{ t('transfer') }} </button>
                        </div>
                    </div>
                    <div v-if="activeView === 'accountOptions'" class="account-options">
                        <div class="debit-card">
                            <div>{{ t('orderDebitCard') }}</div>
                            <label for="pin-number">{{ t('pinNumber') }}</label>
                            <input type="number" id="pin-number" v-model="debitPin" />
                            <div class="card-buttons">
                                <button class="action-button" @click="orderDebitCard">Order</button>
                            </div>
                        </div>
                        <div class="create-account">
                            <div>{{ t('openSharedAccount') }} </div>
                            <div class="options-labels">
                                <label for="createAccountName">{{ t('name') }}</label>
                                <label for="createAccountAmount">{{ t('amount') }}</label>
                            </div>
                            <div class="options-inputs">
                                <input type="text" id="createAccountName" v-model="createAccountName" />
                                <input type="number" id="createAccountAmount" v-model="createAccountAmount" />
                            </div>
                            <div class="card-buttons">
                                <button class="action-button" @click="openAccount"> {{ t('openAccount') }}</button>
                            </div>
                        </div>
                        <div class="edit-account">
                            <div>{{ t('manageSharedAccount') }}</div>
                            <div class="options-labels">
                                <label for="editAccount">{{ t('account') }}</label>
                                <label for="editAccountName">{{ t('name') }}</label>
                            </div>
                            <div class="options-inputs">
                                <select id="editAccount" v-model="editAccount">
                                    <option v-for="account in accounts.filter(a => a.type === 'shared')" :key="account.name" :value="account">{{ account.name }}</option>
                                </select>
                                <input type="text" id="editAccountName" v-model="editAccountName" />
                            </div>
                            <div class="card-buttons">
                                <button class="action-button" @click="deleteAccount">{{ t('delete') }} </button>
                                <button class="action-button" @click="renameAccount">{{ t('rename') }}</button>
                            </div>
                        </div>
                        <div class="manage-account">
                            <div>Manage Account Users</div>
                            <div class="options-labels">
                                <label for="manageAccountName">{{ t('account') }}</label>
                                <label for="manageUserName">Citizen ID:</label>
                            </div>
                            <div class="options-inputs">
                                <select id="manageAccountName" v-model="manageAccountName">
                                    <option v-for="account in accounts.filter(a => a.type === 'shared')" :key="account.name" :value="account">{{ account.name }}</option>
                                </select>
                                <div class="combo-input">
                                    <input type="text" id="manageUserName" v-model="manageUserName" @input="filterUsers" @focus="showUsersDropdown = true" @blur="hideDropdown" />
                                    <div class="dropdown-container" v-if="showUsersDropdown">
                                        <div class="list-container">
                                            <ul>
                                                <li v-for="user in filteredUsers" @click="selectUser(user)">{{ user }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-buttons">
                                <button class="action-button" @click="addUserToAccount">{{t('add')}}</button>
                                <button class="action-button" @click="removeUserFromAccount">{{t('remove')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banking-container" v-show="isATMOpen">
                <div class="sidebar">
                    <div class="sidebar-header">
                        {{ playerName }}<br />
                        {{ t('cash') }} <span class="positive-balance">${{ formatCurrency(playerCash) }}</span>
                    </div>
                    <div class="sidebar-accounts">
                        <ul>
                            <li v-for="account in accounts" :key="account.name">{{ account.name }}: <span class="positive-balance">${{ formatCurrency(account.balance) }}</span></li>
                        </ul>
                    </div>
                    <button class="action-button" @click="closeApplication()">Logout</button>
                    <div class="sidebar-footer">{{ t('accountNumber') }} {{ accountNumber }}</div>
                </div>
                <div class="main-content">
                    <div class="money">
                        <div class="manage-money">
                            <div class="money-title">{{ t('withdraw') }}</div>
                            <label for="fromAccount">{{ t('account') }}</label>
                            <select id="fromAccount" v-model="selectedMoneyAccount">
                                <option v-for="account in accounts" :key="account.name" :value="account">{{ account.name }}</option>
                            </select>
                            <label for="amount">{{ t('amount') }}</label>
                            <input type="number" id="amount" v-model="selectedMoneyAmount" />
                            <label for="money-reason">{{ t('reason') }}</label>
                            <input type="text" id="money-reason" v-model="moneyReason" />
                            <div class="card-buttons">
                                <button class="action-button" @click="withdrawMoney">{{ t('withdraw') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showPinPrompt" class="pin-prompt">
                <div class="pin-input">
                    <input type="password" v-model="enteredPin" :placeholder="t('enterPin')" readonly />
                </div>
                <div class="number-pad">
                    <button v-for="number in 9" :key="number" @click="appendNumber(number)">{{ number }}</button>
                    <button @click="appendNumber(0)">0</button>
                </div>
                <div class="card-buttons">
                    <button class="action-button" @click="enteredPin = ''">{{ t('clear') }}</button>
                    <button class="action-button" @click="pinPrompt(enteredPin)">{{ t('submit') }}</button>
                </div>
            </div>
        </div>
    </body>
    <script src="script.js" defer></script>
</html>
